parameters:
    facadeless:
        allowedFacades: []

parametersSchema:
    facadeless: structure([
        allowedFacades: arrayOf(string()),
    ])

services:
    -
        class: Facadeless\FacadelessConfiguration
        arguments:
            - %facadeless.allowedFacades%

    -
        class: Facadeless\FacadelessRule
        arguments:
            - @Facadeless\FacadelessConfiguration
        tags:
            - phpstan.rules.rule