parameters:
    facadeless:
        allow: []

parametersSchema:
    facadeless: structure([
        allow: arrayOf(string()),
    ])

services:
    -
        class: Facadeless\FacadelessConfiguration
        arguments:
            - %facadeless.allow%

    -
        class: Facadeless\FacadelessRule
        arguments:
            - @Facadeless\FacadelessConfiguration
        tags:
            - phpstan.rules.rule