parameters:
    level: max
    paths:
        - src
        - tests
    tmpDir: build/phpstan
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            message: '#Method Facadeless\\FacadelessRule::processNode\(\) should return list<PHPStan\\Rules\\IdentifierRuleError> but returns array{PHPStan\\Rules\\TipRuleError}.#'
            paths:
                - src/FacadelessRule.php
